<div class="task-container">
  @if (user?.userRole == 'user') {
    <div class="button-container">
      <button class="btn-add-task" (click)="sendToCreateTask()">Add Task</button>
      <button class="btn-add-task" (click)="exportToPDF()">Export to PDF</button>
    </div>
  } @else {
    <div class="button-container">
      <button class="btn-add-task" (click)="exportToPDF()">Export to PDF</button>
    </div>
  }
  
    <table class="task-table">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Employee</th>
          <th>Deadline</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td>{{ task.task_name }}</td>
          <td>{{ task.task_employee_name }}</td>
          <td>{{ task.task_deadline }}</td>
          <td>{{ task.task_description }}</td>
          <td>{{ task.task_status }}</td>
          <td>
            <button class="btn-edit" (click)="openEditModal(task.task_id)">Edit</button>
            <button class="delete-btn" (click)="openDeleteModal(task)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  <div id="paginationCtrl">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal">
      <h3>Are you sure you want to delete the task?</h3>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="onCancelDelete()">Cancel</button>
        <button class="confirm-btn" (click)="onConfirmDelete()">Confirm</button>
      </div>
    </div>
  </div>
</div>