<div class="salary-container">
  @if (user?.userRole == 'user') {
    <div class="button-container">
        <button class="add-salary-btn" (click)="sendToCreateSalary()">Add Salary</button>
        <button class="add-salary-btn" (click)="exportToPDF()">Export to PDF</button>
    </div>
  }
  <table class="salary-table">
    <thead>
      <tr>
        <th>Employee Salary</th>
        <th>Salary Amount</th>
        <th>Salary Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salary of salaries | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ salary.salary_employee_name }}</td>
        <td>{{ salary.salary_amount }}</td>
        <td>{{ salary.salary_date }}</td>
        <td>
          <button class="edit-btn" (click)="openEditModal(salary.salary_id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="paginationCtrl">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>