<div class="employee-container">
  
  <div class="search-container">
    <input
      type="text"
      placeholder="Search Employees..."
      [(ngModel)]="searchTerm"
      (input)="onSearchChange($event)"
      (keydown.enter)="performSearch()"
      (focus)="onSearchFocus()"
      (blur)="onSearchBlur()"
      class="search-input"
    />
    <div *ngIf="suggestions.length > 0" class="suggestions-container">
      <div *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)" class="suggestion-item">
        <span [innerHTML]="highlightText(suggestion.employee_name)">
          {{ suggestion.employee_name }}
        </span>
      </div>
    </div>
  </div>

  @if (user?.userRole == 'user') {
    <div class="button-container">
      <button class="add-employee-btn" (click)="sendToCreateEmployee()">Add Employee</button>
      <button class="add-employee-btn" (click)="exportToPDF()">Export to PDF</button>
    </div>
  }

  <table class="employee-table">
    <thead>
      <tr>
        <th (click)="sortEmployees('employee_name')">
          Name
          <span class="sort-icon" [ngClass]="{'asc': sortColumn === 'employee_name' && sortDirection === 'asc', 'desc': sortColumn === 'employee_name' && sortDirection === 'desc'}">
          </span>
        </th>
        <th>Position</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Department</th>
        <th (click)="sortEmployees('employee_salary')">
          Salary
          <span class="sort-icon" [ngClass]="{'asc': sortColumn === 'employee_salary' && sortDirection === 'asc', 'desc': sortColumn === 'employee_salary' && sortDirection === 'desc'}">
          </span>
        </th>
        <th>Actions</th>   
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of filteredEmployees | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_position }}</td>
        <td>{{ employee.employee_phone }}</td>
        <td>{{ employee.employee_email }}</td>
        <td>{{ employee.employee_department }}</td>
        <td>{{ employee.employee_salary | currency:'EUR' }}</td>
        <td><button class="edit-btn" (click)="openEditModal(employee.employee_id)">Edit</button><button class="delete-btn" (click)="openDeleteModal(employee.employee_id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div id="paginationCtrl">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal">
      <h3>Are you sure you want to delete the employee?</h3>
      <div class="modal-actions">
        <button class="cancel-btn" (click)="onCancelDelete()">Cancel</button>
        <button class="confirm-btn" (click)="onConfirmDelete()">Confirm</button>
      </div>
    </div>
  </div>
</div>