<div class="dashboard">
    <div class="stats">
      <div class="stat-box">
        <h3>Total Employees</h3>
        <p>144</p>
      </div>
      <div class="stat-box">
        <h3>Total Payroll</h3>
        <p>23998</p>
      </div>
      <div class="stat-box">
        <h3>Active Employees</h3>
        <p>sfffd</p>
      </div>
      <div class="stat-box">
        <h3>Total Departments</h3>
        <p>5</p>
      </div>
      <div class="stat-box">
        <h3>Tasks in progress</h3>
        <p>12</p>
      </div>
      <div class="stat-box">
        <h3>Total Bonuses</h3>
        <p>1240</p>
      </div>
    </div>
  </div>